{{define "header"}}

  <section
          class="flex flex-col items-center justify-center sm:w-full flex-1 lg:px-20 text-center"
  >
    <h1 class="text-6xl font-bold pt-5">
      Tars.Run<br/>
      <span class="text-left text-yellow-400 pt-2">⠞⠁⠗⠎</span>
    </h1>
    <p class="pt-2">A dead simple, hobbyist, no guarantees URL shortener</p>
  </section>

{{end}}
